* {
    box-sizing: border-box;
}

/* estilo do input container */
.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;

}

/* estilo para os icones do formulario */
.icon {
    padding: 15px 15px;
    background: #add8e6;
    color: black;
    min-width: 50px;
    text-align: center;
    border-top-left-radius: 10px;
}

/* estilo dos campos de input */
.input-field {
    width: 100%;
    padding: 10px;
    outline: none;

}

.input-field:focus {
    border: 2px solid #F4A460;

}

.btn {

    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

#botoes {
    padding: 5px 7px;
}



#botoesFundo {

    padding-left: 200px;
    padding-right: 200px;
}


#caixa1 {
    border-radius: 10px;
    background-color: #add8e6;

}

#table1 {
    background-color: #48D1CC;
}

#titulo {
    background-color: #F08080;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 30px;
}



#p1 {
    font-weight: bold;
    font-size: 20px
}

body {
    background-image:  url(/public/imagens/img1.png );

    background-repeat: no-repeat;
    background-size: cover;
}





p {
    text-shadow: 0 0 7px rgba(255, 255, 255, .3), 0 0 3px rgba(255, 255, 255, .3);
}

#container {
    color: #e5e5e5;
    font-size: 2.26rem;
    text-transform: uppercase;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animation {
    height: 50px;
    overflow: hidden;
    margin-left: 1rem;
}

.animation>div>div {
    padding: 0.25rem 0.75rem;
    height: 2.81rem;
    margin-bottom: 2.81rem;
    display: inline-block;
}

.animation div:first-child {
    animation: text-animation 8s infinite;
}

#firstdiv {
    background-color: #20a7d8;
}

#seconddiv {
    background-color: #CD921E;
}

#thirddiv {
    background-color: #c10528;
}

@keyframes text-animation {
    0% {
        margin-top: 0;
    }

    10% {
        margin-top: 0;
    }

    20% {
        margin-top: -5.62rem;
    }

    30% {
        margin-top: -5.62rem;
    }

    40% {
        margin-top: -11.24rem;
    }

    60% {
        margin-top: -11.24rem;
    }

    70% {
        margin-top: -5.62rem;
    }

    80% {
        margin-top: -5.62rem;
    }

    90% {
        margin-top: 0;
    }

    100% {
        margin-top: 0;
    }
}